@model MovieManager.Models.ActorDetailsVM

@{
    ViewData["Title"] = $"{Model.Actor.Name} Details";
}

<h1>@Html.DisplayFor(model => model.Actor.Name) Details</h1>

<div>
    <h4>Overall, Reddit showed that sentiment for '@Html.DisplayFor(model => model.Actor.Name)' was @Html.DisplayFor(model => model.SentimentAnalyzer.PercentScore)% @Html.DisplayFor(model => model.SentimentAnalyzer.PosNegNeu)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Age)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Gender)
        </dd>
        <dt class="col-sm-2">
            IMDB Link
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.Actor.IMDB_Url)">@Html.DisplayFor(model => model.Actor.IMDB_Url)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Actor.Photo != null && Model.Actor.Photo.Length != 0)
            {
                <img height="150" src="@Url.Action("GetActorPhoto", "Actors", new {Model.Actor.Id})" />
            }
        </dd>
    </dl>
    <h1>@Html.DisplayFor(model => model.Actor.Name) Movies</h1>
    
    <table @(Model.Movies.Count > 1 ? "id = myTable" : "") class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Release Year
                </th>
                <th>
                    Media
                </th>
                <th>
                    IMDB Link
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Movies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year_Of_Release)
                    </td>
                    <td>
                        @if (item.Media != null && item.Media.Length != 0)
                        {
                            <img height="150" src="@Url.Action("GetMovieMedia", "Movies", new {item.Id})" />
                        }
                    </td>
                    <td>
                        <a asp-controller="Movies" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Movies" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h1>@Html.DisplayFor(model => model.Actor.Name) Reddit Analysis</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Top 100 Posts</th>
                <th>Overall Sentiment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="scrollable">
                        @foreach (var item in Model.SentimentAnalyzer.Posts)
                        {
                            <p>@Html.DisplayFor(modelItem => item)</p>
                        }
                    </div>
                </td>
                <td>
                    <p>@Html.DisplayFor(model => model.SentimentAnalyzer.PercentScore)% @Html.DisplayFor(model => model.SentimentAnalyzer.PosNegNeu)</p>
                </td>
            </tr>
        </tbody>
    </table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Actor.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
