@model MovieManager.Models.ActorMovie

@{
    ViewData["Title"] = "Actor-Movie Details";
}

<h1>Actor-Movie</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Actor.Name) Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Age)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Gender)
        </dd>
        <dt class="col-sm-2">
            IMDB Link
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.Actor.IMDB_Url)">@Html.DisplayFor(model => model.Actor.IMDB_Url)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Photo)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Actor.Photo != null && Model.Actor.Photo.Length != 0)
            {
                <img height="150" src="@Url.Action("GetActorPhoto", "Actors", new {Model.Actor.Id})" />
            }
        </dd>
    </dl>
    <h4>@Html.DisplayFor(model => model.Movie.Title) Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Year_Of_Release)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Year_Of_Release)
        </dd>
        <dt class="col-sm-2">
            IMDB Link
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.Movie.IMDB_Url)">@Html.DisplayFor(model => model.Movie.IMDB_Url)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Media)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Movie.Media != null && Model.Movie.Media.Length != 0)
            {
                <img height="150" src="@Url.Action("GetMovieMedia", "Movies", new {Model.Movie.Id})" />
            }
        </dd>
    </dl>

<div>
    <a asp-controller="Actors" asp-action="Edit" asp-route-id="@Model.Actor.Id">Edit Actor</a> |
    <a asp-controller="Movies"  asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit Movie</a> |
    <a asp-action="Index">Back to List</a>
</div>
